
body{
  background-color: #73a580;
 
}

.color {
  background-color: #73a580;

}

.navbar-custom {
  background-color: #3e363f;

}

.card-custom {
  background-color: #3e363f;

}

.footer {
  height: 10vh
}
.background {
  height: 100vh;
}

.fade-in-image {
  animation: fadeIn 5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.card:hover,
.card:focus {
filter: brightness(85%)
}